/* Custom color theme properties */
:root {
  --f7-theme-color: #008080;
  --f7-theme-color-rgb: 0, 128, 128;
  --f7-theme-color-shade: #005757;
  --f7-theme-color-tint: #00a9a9;
}

/* Your app custom styles here */

.loader {
  margin-top: 30%;
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
